.header{
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
}
.logo{
    height: 100px;
    width: 100px;
}
.cart{
    height: 55px;
    width: 55px;
}

.nav-items > ul {
    display: flex;
    list-style: none;
    font-size: 24px;
    margin: 10px;
}

.nav-items > ul > li {
    margin: 10px;
    padding: 10px;
}

.search{
    margin:20px;
}

.res-container{
    display: flex;
    flex-wrap: wrap;
}

.res-card{
    width : 200px;
    padding: 5px;
    margin: 2px;
    background-color: #f0f0f0;
}

.res-card:hover{
    cursor: pointer;
    border: 1px solid black;
}

.res-img{
    width: 100%;
    height: 150px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f56f6f;
    padding: 10px 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .logo img,
  .user-icon img {
    width: 40px;
    height: 40px;
  }
  
  .search-bar input {
    width: 300px;
    padding: 8px;
    border-radius: 20px;
    border: 1px solid #ccc;
    outline: none;
  }
  
  /* Media Query for Responsive Design */
  @media (max-width: 768px) {
    .search-bar input {
      width: 200px;
    }
  }
  
.filter-btn{
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
    
}
button{
    cursor: pointer;
    padding: 5px;
    margin: 10px;
    width: 110px;
}

.login-logout{
    cursor: pointer;
    padding: 0 20px;
    height: 50px;
}

.Shimmer-res-card{
    height: 400px;
    width: 200px;
    background-color:#f0f0f0;
    margin: 10px;
}

.Shimmer-res-card-parent{
    display: flex;
    flex-wrap: wrap;
}

.user-card{
    padding: 10px;
    border: 1px solid black;
}